<div class="container d-flex justify-content-center align-items mt-5">
    <h1>Bienvenid@s a la IronShop!</h1>
</div>

<div class="container d-flex justify-content-center align-items">

    <a href="/tienda" class="btn btn-primary">Comprar en la tienda</a>
</div>